body, p, h1, h2, html, div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: azure;
}

.body {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 100px;
    max-width: 710px;
}

.body .input-container {
     display: flex;
     width: 100%;
     flex-direction: column;
     box-sizing: border-box;
     margin-bottom: 25px;
     align-items: center;
     justify-content: center;
}

.body .input-container p {
    margin-bottom: 10px;
}

.body .input-container > div {
    width: 100%;
}

.body .chart-container {
    position: relative;
    width: 100%;
    background: white;
    padding: 20px;
    border: 1px rgba(1,87,155, 0.3) solid;
    box-sizing: border-box;
    box-shadow: 1px 1px 42px -25px rgba(0,0,0,0.3);
}

.body .chart-container .y-label {
    position: absolute;
    top: 145px;
    left: -110px;
}

.body .chart-container .x-label {
    position: absolute;
    left: 271px;
    bottom: -32px;
}

.header {
    color: white;
    width: 100%;
    background: #333;
    margin-bottom: 41px;
    justify-content: center;
    display: flex;
    position: fixed;
    z-index: 1000;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}

.header .header-container {
    color: white;
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 10px 85px;
    align-items: center;
}

.header h2 {
    margin-right: auto;
    font-size: 22px;
}

.header button {
    padding: 3px 45px;
    line-height: 24px;
    border-radius: 3px;
    border: 1px white solid;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    margin-top: 100px;
    color: #333;
    font-size: 13px;
    border-top: 1px rgba(0,0,0,0.2) solid;
}

.dashboard {
    display: flex;
    width: 90%;
    color: white;
    max-width: 980px;
    margin-bottom: 40px;
    margin-top: 90px;
}

.dashboard .dashboard-box {
    width: 25%;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
}

.dashboard .dashboard-box > div {
    padding: 10px;
}

.dashboard .dashboard-box > div h2 {
    font-size: 31px;
    margin-bottom: 10px;
}

.dashboard .dashboard-box > p:last-child {
    text-align: center;
    font-size: 14px;
    background: rgba(0,0,0,0.2);
    padding: 5px 0;
    cursor: pointer;
}

.logo-container {
    position: absolute;
    font-size: 62px;
    left: 143px;
    color: rgba(0,0,0,0.15);
}
